#partition {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 25% 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.partitionTop {
    width: 60%;
    height: 80%;
    background-color: #343d52;
    box-sizing: border-box;
    margin: 10% 20% 10% 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px #82d682;
}
.partitionTop span {
    margin: 5%;
    font-family: 'Open Sans';
    font-size: 1.25vw;
    color: white;
}
.partitionImg {
    height: auto;
    width: 30%;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}