#partition {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 25% 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.partitionTop {
    width: 60%;
    height: 80%;
    background-color: #343d52;
    box-sizing: border-box;
    margin: 10% 20% 10% 20%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px #82d682;
}
.partitionTop span {
    margin: 5%;
    font-family: 'Open Sans';
    font-size: 1.25vw;
    color: white;
}
.partitionImg {
    height: auto;
    width: 30%;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
}
.partitionBottom {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}
.partitionBottomLeft, .partitionBottomRight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 15% 15% 15%;
    width: auto;
    height: auto;
    margin: 20%;
    font-family: 'Open Sans';
    justify-content: center;
    border: 3px solid #343d52;
    box-shadow: 5px 5px #82d682;
}
.tr1, .tr2 {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
    box-sizing: border-box;
    align-items: center;
    padding: 20px
}
.tr2 {
    background-color: #e0e0e0;
}