@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
 *, *:before, *:after {
	 box-sizing: border-box;
}
 h1, h2, h3, h4, h5, h6 {
	 margin: 0;
}
 .container {
     grid-row: 2/3;
	 width: auto;
     height: auto;
     margin: 50px 30px 30px 30px;
	 justify-content: center;
	 align-items: center;
     font-family: 'Open Sans';
}
.status {
    margin-bottom: 20px;
}
 .table {
	 width: 100%;
	 box-shadow: 5px 5px #82d682;
}
 .table-header {
	 display: flex;
	 width: 100%;
	 background: #343d52;
	 padding: 18px 0;
}
 .table-row {
	 display: flex;
	 width: 100%;
	 padding: 18px 0;
}
 .table-row:nth-of-type(odd) {
	 background: #eee;
}
 .table-data, .header__item {
	 flex: 1 1 20%;
	 text-align: center;
}
 .header__item {
	 text-transform: uppercase;
}
 .filter__link {
	 color: white;
	 text-decoration: none;
	 position: relative;
	 display: inline-block;
	 padding-left: 24px;
	 padding-right: 24px;
}
 .filter__link::after {
	 content: "";
	 position: absolute;
	 right: -18px;
	 color: white;
	 font-size: 12px;
	 top: 50%;
	 transform: translateY(-50%);
}
 .filter__link.desc::after {
	 content: "(desc)";
}
 .filter__link.asc::after {
	 content: "(asc)";
}
#editPrice {
	 position: fixed;
	 display: flex;
	 justify-content: center;
	 margin-top: 10%;
	 width: 100%;
	 height: 100%;
	 z-index: 10;
}
#editForm{
	display: grid;
	grid-template-rows: 10% 40% 0.5fr 0.5fr 0.25fr 30%;
	grid-template-columns: 1fr 1fr;
	background-color: #343d52;
	font-family: 'Open Sans';
	color: white;
	align-content: space-evenly;
	height: 30%;
	width: 20%;
	border: 5px 5px #82d682;
}
#submit {
	background-color: white;
	width: 25%;
	height: 35%;
	font-family: 'Open Sans';
	cursor: pointer;
	outline: none;
}
textarea {
	resize: none;
}